* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: "font-Light";
  src: url(../fonts/IRANSansXLight.ttf);
}

@font-face {
  font-family: "font-Regular";
  src: url(../fonts/IRANSansXRegular.ttf);
}

@font-face {
  font-family: "font-Medium";
  src: url(../fonts/IRANSansXMedium.ttf);
}

@font-face {
  font-family: "font-Bold";
  src: url(../fonts/IRANSansXBold.ttf);
}

@font-face {
  font-family: "font-SemiBold";
  src: url(../fonts/IRANSansXDemiBold.ttf);
}

@font-face {
  font-family: "font-ExtraBold";
  src: url(../fonts/IRANSansXExtraBold.ttf);
}





.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.grid {
  display: grid;
}

.bg-primary{
  background-color: #0d6efd;
}

.text-primary{
  color: #0d6efd;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.mt-5{
  margin-top: 5px;
}

header {
  padding: 20px 0;
  border-bottom: 1px solid #E9EAEE;
}

header nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.btn-sign-in {
  border: 1px solid #e9eaee;
  padding: 5px;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-thunder {
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-sign-in-2,
.btn-thunder-2 {
  display: none;
}

.right-side {
  display: flex;
  align-items: center;
}

.left-side {
  justify-content: flex-end;
}

.btn-menu {
  background-color: #e9eaee;
  padding: 5px;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.nav-search {
  display: none;
}

.search-bar {
  position: relative;
  display: flex;
}

.search-bar ::placeholder {
  font-family: "font-Medium";
  font-size: 14px;
  text-align: right;
  margin-right: 20%;
}

.search-bar::before {
  position: absolute;
  content: url("../images/header-lcon/search.png");
  z-index: 1;
  top: 57%;
  right: 3%;
}

.search-bar input {
  border: none;
  width: 100%;
  background-color: #e9eaee;
  padding: 15px 40px 15px 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-content: center;
}

.nav-links {
  display: none;
}

/* main */

.hero-section {
  padding: 50px 0;
}

.hero-section h1 {
  font-family: "font-ExtraBold";
  color: #00183B;
  font-size: 24px;
}

.hero-section .hero-text p {
  color: #013075;
  font-family: "font-Bold";
  font-size: 14px;
  margin-top: 10px;
}

.hero-btns {
  margin-top: 30px;
  justify-content: center;
}

.btn-sign-in-hero {
  width: 30%;
  font-family: "font-Medium";
  font-size: 12px;
  display: flex;
  border: 1px solid #e9eaee;
  padding: 7px 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-thunder-hero {
  width: 30%;
  font-family: "font-Medium";
  font-size: 12px;
  display: flex;
  margin-right: 10px;
  padding: 7px 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  cursor: pointer;
}

.hero-mobile-img {
  margin-top: 50px;
}

/* hero-Information */

main .information {
  font-family: "font-Bold";
  font-size: 12px;
  display: grid;
  gap: 4rem 0;
}

main .information .info {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}
main .information .info::before {
  content: "";
  width: 5rem;
  height: 5rem;
  background: #ffecb3;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
.information .info-num {
  margin-right: 3rem;

  font-weight: bold;
  font-size: 1.3rem;
}

.information .info-caption {
  font-size: 1.3rem;
  font-weight: bold;
}

/* company */

.company {
  font-family: "font-ExtraBold";
  font-size: 14px;
  display: grid;
  gap: 5rem 0;
}

.company-card {
  position: relative;
  text-align: center;
}

.company-card img {
  width: 14rem;
  z-index: 1;
}

.company-card p {
  margin-top: 30px;
  font-weight: bold;
  font-size: 1.2rem;
}

.company-card:nth-child(1) .border {
  position: absolute;
  width: 100%;
  padding: 3.5rem 0;
  background-color: #aecffe;
  top: 23%;
  z-index: -1;
  border-radius: 10px;
}

.company-card:nth-child(2) .border {
  position: absolute;
  width: 100%;
  padding: 3.5rem 0;
  background-color: #438efd;
  top: 23%;
  z-index: -1;
  border-radius: 10px;
}

.company-card:nth-child(3) .border {
  position: absolute;
  width: 100%;
  padding: 3.5rem 0;
  background-color: #287efd;
  top: 23%;
  z-index: -1;
  border-radius: 10px;
}

/* category */

.category {
  padding: 100px 15px;
  margin-top: 50px;
}

.category-title {
  margin-bottom: 50px;
}

.category-title p {
  font-family: "font-Medium";
  font-size: 18px;
  color: #444859;
}

.category-top-sec {
  justify-content: space-between;
  text-align: center;
  overflow-x: auto;
  gap: 0 1.5rem;
  margin-top: 100px;
}

.category-bottom-sec {
  justify-content: space-between;
  text-align: center;
  margin-top: 100px;
  overflow-x: auto;
  gap: 0 2rem;
}

.category-box p{
  color: #2A2A2A;
  font-family: "font-Medium";
  font-size: 12px;
}

.category-top-sec::-webkit-scrollbar{
  width: 0;
}

.category-bottom-sec::-webkit-scrollbar{
  width: 0;
}


.circle-box {
  margin-bottom: 1rem;
  border: 2px solid #438efd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* popular-company */


.bg-popular-company,.newsletter{
  background-image: url("../images/bg-company.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
}

.popular-company-title,.newsletter-title{
  justify-content: space-between;
}

.popular-company-title p{
  font-family: "font-Regular";
  font-size: 18px;
}

.wrapper{
  display: flex;
  margin-top: 50px;
  overflow-x: auto;
  justify-content: space-evenly;
}

.wrapper .item{
  background-color: #fff;
  min-width: 300px;
  max-height: 430px;
  border-radius: 25px;
  margin-left: 20px;
  
}

.wrapper::-webkit-scrollbar{
  width: 0;
}

.item-description{
  padding: 10px 10px;
  gap: 0 1rem;
  font-weight: 600;
  font-size: 14px;
}


.item-description-2,.item-review{
  font-family:"font-Regular";
  padding: 0 10px 10px 0;
  color: #737993;
}


.item:nth-of-type(4) .item-description-2 {
  margin-top: 9px;
}




.item-review{
  padding: 0 10px 20px 10px;
  justify-content: space-between;
}

.review-right{
  align-items: center;
}

.review-right img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.review-img{
  margin-top: 15px;
}


.wrapper .box{
 border: 1px solid #E9EAEE;
 padding: 15px 10px;
 border-radius: 10px;
 width: 100%;
 font-family: "font-Regular";
}


/* opportunity */

.opportunity{
  padding: 100px 15px;
}

.opportunity-title,.event-title,.category-title{
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  gap: 0 1.5rem;
}

.opportunity-line,.event-line{
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
  display: none;
}


.opportunity-text,.event-text{
  color: #444859;
}

.opportunity-text,.newsletter-title,.event-text  p{
  font-family: "font-Medium";
  font-size: 20px;
}

.opportunity-box{
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 0px 15px 20px 0;
  min-width: 250px;
  min-height: 193px;
  display: grid;
  align-content: space-around;
}

.opportunity-box img{
  margin: 0 auto;
}

.opportunity-box p:nth-child(1){
  font-family: "font-Regular";
  font-size: 20px;
}

.opportunity-box p:nth-child(2){
  font-family: "font-SemiBold";
  font-size: 18px;
  margin-top: 5px;
}
  

.opportunity .wrapper{
  gap: 0 2.5rem;
}


/* newsletter */


.newsletter-description{
  padding: 20px;
  gap: 0 1rem;
  font-weight: 600;
  font-size: 14px;
}

.newsletter-item{
  background-color: #fff;
  border-radius: 50px;
  margin-left: 20px;
  text-align: auto;
  width: 392px;
}


.newsletter-item p:nth-child(1){
  color: #737993;
  font-family: "font-SemiBold";
  font-weight: lighter;
  margin-bottom: 10px;
}

.newsletter-item p:nth-child(2){
  color: #444859;
  font-family: "font-ExtraBold";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.newsletter-item p:nth-child(3){
  font-family: "font-Regular";
  color: #5B6176;
  font-size: 13.5px;
  font-weight: lighter;
}


/* event */

.event{
  padding: 100px 15px;
}

.wrapper-event{
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 50px;
  overflow-x: auto;
  justify-content: space-evenly;
  gap: 0 1.5rem;
}

.wrapper-event::-webkit-scrollbar{
  width: 0;
}

.event-top{
  margin-top: 25px;
}

.event-box{
  border: 1px solid lightgray;
  border-radius: 25px;
  min-width: 455px ;
  max-height: 175px ;
}

.event-description{
  padding: 20px 20px;
  margin: 0 auto;
  align-content: space-between;
  display: grid;
}

.event-description p:nth-child(1){
  font-family: "font-ExtraBold";
  font-size: 16px;
  color: #444859;
  margin-top: 10px;
}

.event-description p:nth-child(2){
  font-family: "font-Light";
  font-size: 10px;
  color: #737993;
  margin-top: 10px;
}

.event-description p{
  font-weight: bolder;
}

.event-location{
  align-items: center;
}

.event-location img:nth-child(1){
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.event-footer div:nth-child(2) img{
  width: 17px;
  height: 17px;
  margin-top: 10px;
  margin-left: 5px;
}


/* footer */

footer{
  background-image: url("../images/Footer-bg.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
}

.footer-section{
  display: grid;
  gap: 5rem 0;
  padding: 0 15px;
}

.sign-up-heading{
  font-family: "font-Bold";
  margin-bottom: 20px;
}

.sign-up p:nth-child(2){
  display: none;
}

.subscription-box{
  display: flex;
  position: relative;

}

.subscription-box input{
  width: 100%;
  padding: 17px 5px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.subscription-box input::placeholder{
  font-family: "font-SemiBold";
  padding-right: 20px;
}

.subscription-box img{
  position: absolute;
  width: 7.5rem;
  top: 7%;
  left: 5%;
  border-radius: 20px;
  border: none;
  background-color: #0D6EFD;
  cursor: pointer;
}

.consepto-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0 1.5rem;
}

.consepto-list p{
  font-family: "font-Bold";
}

.consepto-list ul li {
  font-family: "font-Regular";
  margin-top: 15px;
  font-size: 11px;
  color: #fff;
}


.consepto-description p{
  font-family: "font-Regular";
  font-size: 12px;
  margin-top: 10px;
}

.consepto-about-us{
  font-family: "font-Regular";
  font-size: 14px;
  display: grid;
  gap: 1.5rem 0;
}

.responsive-consepto-about-us{
  display: none;
}

.consepto-about-us img{
  width: 18px;
  height: 18px;
  margin-left: 10px;
}


.consepto-social p{
  font-family: "font-Regular";
  font-size: 14px;
  margin-bottom: 30px;
}

.consepto-social .Neshan-meli{
  margin-top: 30px;
}

.social-icon{
  gap: 0 1.5rem;
}


.footer-copyright{
  font-family: "font-Light";
  font-size: 14px;
  padding: 15px 0;
  background-color: #00183B;
  margin-top: 50px;
}



@media (max-width: 992px) {
  .scrollable-container{
    overflow-x: auto; 
    white-space: nowrap; 
  }

  main .information {
    margin: 5rem 3rem;
  }

}


@media (min-width:600px){
  .consepto-list{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
  }

  .consepto-list div{
    width: 100%;
  }

  .consepto-list ul li{
    font-size: 14px;
  }
}



@media (min-width: 992px) {

  .container {
    width: 970px;
  }

  
  
  header {
    border-bottom: none;
  }

  header nav {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  
  .hero-section h1 {
    font-family: "font-ExtraBold";
    color: #00183B;
    font-size: 50px;
  }

  .search-bar {
    display: none;
  }

  .nav-search {
    display: block;
    width: 100%;
  }

  .btn-menu {
    display: none;
  }

  .nav-search input {
    width: 100%;
    background: #e9eaee;
    border: none;
    padding: 10px 40px 10px 10px;
    border-radius: 10px;
    justify-content: center;
    margin-right: 5%;
    font-family: "font-Medium";
    font-size: 14px;
  }

  .nav-search {
    position: relative;
  }

  .nav-search::before {
    position: absolute;
    content: url("../images/header-lcon/search.png");
    z-index: 1;
    top: 30%;
    right: 7.5%;
  }

  .btn-sign-in,
  .btn-thunder {
    display: none;
  }

  .btn-sign-in-2 {
    border: 1px solid #e9eaee;
    padding: 7px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "font-Regular";
    font-size: 12px;

  }

  .btn-thunder-2 {
    font-family: "font-Regular";
    font-size: 12px;
    margin-right: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    cursor: pointer;
  }

  .nav-links {
    display: block;
    padding: 30px 0;
    font-family: "font-SemiBold";
    font-size: 12px;
  }

  .nav-links ul li a {
    margin-left: 25px;
    color: black !important;
    font-weight: 500;
  }

  .btn-sign-in-hero,
  .btn-thunder-hero{
    width: 13% !important;
  }

  main .information {
    grid-template-columns: repeat(3, 1fr);
    padding: 150px 0;
    gap: 5rem 0 !important; 
  }

  .company {
    grid-template-columns: repeat(3, 1fr);
    gap: 0 5rem;
  }

  .category-box {
    display: block;
  }

  .popular-company-title,.newsletter-title{
    margin-top: 30px;
  }

  .footer-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem 5.5rem;
  }

  .sign-up p:nth-child(1){
    display: none;
  }


  .sign-up p:nth-child(2){
    display: block;
  }
  

  .sign-up{
    order: 2;
  }

  .consepto-list{
    order: 1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  .consepto-description{
    order: 3;
  }

  .consepto-social{
    order: 4;
  }

  .consepto-list p{
    font-size: 15px;
  }

  .consepto-list ul li{
    font-size: 14px;
  }

  .consepto-about-us{
    display: none;
  }


  .responsive-consepto-about-us{
    font-family: "font-Regular";
    font-size: 14px;
    display: grid;
    margin-top: 30px;
    gap: 1.5rem 0;
  }

  .responsive-consepto-about-us img{
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }

}


@media (min-width: 1200px) {

  .container {
    width: 1170px;
  }

  .information {
    display: flex !important;
    justify-content: space-between !important;
  }

  .hero-mobile-img {
    display: none;
  }

  .hero-imgs {
    display: block;
    position: relative;
    margin-top: 100px;
  }

  .img-right {
    position: absolute;
    top: -20%;
    right: -3%;
  }

  .img-left {
    position: absolute;
    top: 68%;
    left: -4%;
  }


  .img-arrow{
    display: none;
  }

  .opportunity-line,.event-line{
    display: block;
  }

  .wrapper-event{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    overflow-x: auto;
    justify-content: space-evenly;
    gap: 1.5rem 1.5rem;
  }

  .event-description p:nth-child(2){
    font-size: 14px;
  }

}



@media (min-width:1400px){

  .footer-section{
    gap: 5rem 10.5rem;
  }
}





@media (min-width: 1800px) {

  .container{
    width: 70%;
  }

  .img-right{
    right: 3%;
  } 
  
  .img-left{
    left: 3%;
  } 

  .bg-popular-company,.newsletter{
    background-size: cover;
  }
}



@media (min-width: 2000px){
  .img-right{
    right: 5%;
  } 
  
  .img-left{
    left: 5%;
  }   
}
