* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: "Vazir";
  src: url(../font/Vazir.ttf);
}

body {
  font-family: "Vazir";
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.grid {
  display: grid;
}

.bg-primary{
  background-color: #0d6efd;
}

.text-primary{
  color: #0d6efd;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

header {
  padding: 30px 0;
  border-bottom: 1px solid lightgray;
}

header nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.btn-sign-in {
  border: 1px solid #e9eaee;
  padding: 5px;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-thunder {
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-sign-in-2,
.btn-thunder-2 {
  display: none;
}

.right-side {
  display: flex;
  align-items: center;
}

.left-side {
  justify-content: flex-end;
}

.btn-menu {
  background-color: #e9eaee;
  padding: 5px;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.nav-search {
  display: none;
}

.search-bar {
  position: relative;
  display: flex;
}

.search-bar ::placeholder {
  text-align: right;
  margin-right: 20%;
}

.search-bar::before {
  position: absolute;
  content: url("../images/header-lcon/search.png");
  z-index: 1;
  top: 40%;
  right: 3%;
}

.search-bar input {
  border: none;
  width: 100%;
  background-color: #e9eaee;
  padding: 10px 40px 10px 10px;
  border-radius: 10px;
  margin-top: 10px;
  justify-content: center;
}

.nav-links {
  display: none;
}

/* main */

.hero-section {
  padding: 50px 0;
}

.hero-section h1 {
  font-weight: bolder;
}

.hero-section .hero-text p {
  color: #013075;
  font-weight: bold;
  margin-top: 20px;
}

.hero-btns {
  justify-content: center;
  margin-top: 30px;
}

.btn-sign-in-hero {
  width: 100%;
  display: flex;
  border: 1px solid #e9eaee;
  padding: 7px 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-thunder-hero {
  width: 100%;
  display: flex;
  margin-right: 10px;
  padding: 7px 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  cursor: pointer;
}

.hero-mobile-img {
  margin-top: 50px;
}

/* hero-Information */

main .information {
  display: grid;
  gap: 4rem 0;
  margin: 5rem auto;
}
main .information .info {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}
main .information .info::before {
  content: "";
  width: 5rem;
  height: 5rem;
  background: #ffecb3;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
.information .info-num {
  margin-right: 3rem;

  font-weight: bold;
  font-size: 1.3rem;
}

.information .info-caption {
  font-size: 1.3rem;
  font-weight: bold;
}

/* company */

.company {
  display: grid;
  gap: 5rem 0;
}

.company-card {
  position: relative;
  text-align: center;
}

.company-card img {
  width: 14rem;
  z-index: 1;
}

.company-card p {
  margin-top: 30px;
  font-weight: bold;
  font-size: 1.2rem;
}

.company-card:nth-child(1) .border {
  position: absolute;
  width: 100%;
  padding: 3.5rem 0;
  background-color: #aecffe;
  top: 23%;
  z-index: -1;
  border-radius: 10px;
}

.company-card:nth-child(2) .border {
  position: absolute;
  width: 100%;
  padding: 3.5rem 0;
  background-color: #438efd;
  top: 23%;
  z-index: -1;
  border-radius: 10px;
}

.company-card:nth-child(3) .border {
  position: absolute;
  width: 100%;
  padding: 3.5rem 0;
  background-color: #287efd;
  top: 23%;
  z-index: -1;
  border-radius: 10px;
}

/* category */

.category {
  padding: 100px 0;
  margin-top: 50px;
}

.category-title {
  margin-bottom: 50px;
}

.category-top-sec {
  justify-content: space-between;
  text-align: center;
}

.category-bottom-sec {
  justify-content: space-between;
  text-align: center;
  margin-top: 100px;
}

.circle-box {
  margin-bottom: 1rem;
  border: 2px solid #438efd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* popular-company */


.bg-popular-company,.newsletter{
  background-image: url("../images/bg-company.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
}

.popular-company-title,.newsletter-title{
  justify-content: space-between;
  margin-top: 50px;
}

.wrapper{
  display: flex;
  margin-top: 50px;
  overflow-x: auto;
  justify-content: space-evenly;
}

.wrapper .item{
  background-color: #fff;
  min-width: 300px;
  max-height: 430px;
  border-radius: 25px;
  margin-left: 20px;
  
}

.wrapper::-webkit-scrollbar{
  width: 0;
}

.item-description{
  padding: 10px 10px;
  gap: 0 1rem;
  font-weight: 600;
  font-size: 14px;
}


.item-description-2{
  padding: 0 10px 10px 0;
  color: #737993;
}

.item-review{
  padding: 0 10px 20px 10px;
  justify-content: space-between;
}

.wrapper .box{
 border: 1px solid lightgray;
 padding: 15px 10px;
 border-radius: 10px;
 width: 100%;
}


/* opportunity */

.opportunity{
  padding: 100px 0;
}

.opportunity-title{
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  gap: 0 1.5rem;
}

.opportunity-line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
  display: none;
}
.opportunity-text {
  color: #737993;
  font-weight: bold;
}

.opportunity-box{
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 10px 15px;
  min-width: 250px;
  min-height: 220px;
  display: grid;
  align-content: space-around;
}

.opportunity-box img{
  margin: 0 auto;
}

.opportunity-box p{
  font-size: 20px;
  font-weight: 600;
}
  

.opportunity .wrapper{
  gap: 0 2.5rem;
}


/* newsletter */


.newsletter-description{
  padding: 20px;
  gap: 0 1rem;
  font-weight: 600;
  font-size: 14px;
}

.newsletter-item{
  background-color: #fff;
  border-radius: 50px;
  margin-left: 20px;
  text-align: auto;
  width: 392px;
}


.newsletter-item p:nth-child(1){
  color: #737993;
  font-weight: lighter;
  margin-bottom: 10px;
}

.newsletter-item p:nth-child(2){
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.newsletter-item p:nth-child(3){
  color: #5B6176;
  font-size: 13px;
  font-weight: lighter;
}




@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }

}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }

  .scrollable-container{
    overflow-x: auto; 
    white-space: nowrap; 
  }

}




@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .hero-mobile-img {
    display: none;
  }

  .hero-imgs {
    display: block;
    position: relative;
    margin-top: 100px;
  }

  .img-right {
    position: absolute;
    top: -20%;
    right: -3%;
  }

  .img-left {
    position: absolute;
    top: 68%;
    left: -4%;
  }

}




@media (min-width: 768px) {
  header {
    border-bottom: none;
  }

  header nav {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .search-bar {
    display: none;
  }

  .nav-search {
    display: block;
    width: 100%;
  }

  .btn-menu {
    display: none;
  }

  .nav-search input {
    width: 100%;
    background: #e9eaee;
    border: none;
    padding: 10px 40px 10px 10px;
    border-radius: 10px;
    justify-content: center;
    margin-right: 5%;
  }

  .nav-search {
    position: relative;
  }

  .nav-search::before {
    position: absolute;
    content: url("../images/header-lcon/search.png");
    z-index: 1;
    top: 20%;
    right: 7.5%;
  }

  .btn-sign-in,
  .btn-thunder {
    display: none;
  }

  .btn-sign-in-2 {
    border: 1px solid #e9eaee;
    padding: 7px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .btn-thunder-2 {
    margin-right: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    cursor: pointer;
  }

  .nav-links {
    display: block;
    padding: 30px 0;
  }

  .nav-links ul li a {
    margin-left: 25px;
    color: black !important;
    font-weight: 500;
  }

  .btn-sign-in-hero,
  .btn-thunder-hero {
    width: 21% !important;
  }

  main .information {
    grid-template-columns: repeat(3, 1fr);
    padding: 150px 0;
  }
}



@media (min-width: 992px) {
  .company {
    grid-template-columns: repeat(3, 1fr);
    gap: 0 5rem;
  }

  .category-box {
    display: block;
  }

}





@media (min-width: 1200px) {
  .information {
    display: flex !important;
    justify-content: space-between !important;
  }

  .img-arrow{
    display: none;
  }

  .opportunity-line{
    display: block;
  }
}

@media (min-width: 1800px) {
  .bg-popular-company,.newsletter{
    background-size: cover;
  }


}
